In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("dataset/ipl/matches.csv", index_col='id')
#matches.set_index('id', inplace=True)

In [3]:
matches.shape

(756, 17)

In [4]:
matches.head()

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
matches.columns

Index(['season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [6]:
pd.value_counts( matches["season"] )

2013    76
2012    74
2011    73
2019    60
2018    60
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [7]:
pd.value_counts(matches["winner"])

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [8]:
new_df = matches.drop_duplicates('season', keep='last')

In [9]:
new_df["winner"]

id
59              Mumbai Indians
117           Rajasthan Royals
174            Deccan Chargers
234        Chennai Super Kings
307        Chennai Super Kings
381      Kolkata Knight Riders
457             Mumbai Indians
517      Kolkata Knight Riders
576             Mumbai Indians
636        Sunrisers Hyderabad
7953       Chennai Super Kings
11415           Mumbai Indians
Name: winner, dtype: object

In [10]:
new_df[["season", "winner"]]

       season                 winner
id
59       2017         Mumbai Indians
117      2008       Rajasthan Royals
174      2009        Deccan Chargers
234      2010    Chennai Super Kings
307      2011    Chennai Super Kings
381      2012  Kolkata Knight Riders
457      2013         Mumbai Indians
517      2014  Kolkata Knight Riders
576      2015         Mumbai Indians
636      2016    Sunrisers Hyderabad
7953     2018    Chennai Super Kings
11415    2019         Mumbai Indians

In [11]:
matches[116:117]

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN

In [12]:
matches.drop_duplicates('season', keep='last')[["season", "winner"]]

       season                 winner
id
59       2017         Mumbai Indians
117      2008       Rajasthan Royals
174      2009        Deccan Chargers
234      2010    Chennai Super Kings
307      2011    Chennai Super Kings
381      2012  Kolkata Knight Riders
457      2013         Mumbai Indians
517      2014  Kolkata Knight Riders
576      2015         Mumbai Indians
636      2016    Sunrisers Hyderabad
7953     2018    Chennai Super Kings
11415    2019         Mumbai Indians

In [13]:
matches[ (matches["winner"] == "Chennai Super Kings") &
        (matches["win_by_runs"] > 50 ) ] [[ "team1", "team2", "win_by_runs" ]]

                     team1                        team2  win_by_runs
id
122    Chennai Super Kings  Royal Challengers Bangalore           92
144    Chennai Super Kings              Deccan Chargers           78
182    Chennai Super Kings        Kolkata Knight Riders           55
285    Chennai Super Kings             Rajasthan Royals           63
307    Chennai Super Kings  Royal Challengers Bangalore           58
313    Chennai Super Kings              Deccan Chargers           74
380    Chennai Super Kings             Delhi Daredevils           86
404    Chennai Super Kings             Delhi Daredevils           86
435    Chennai Super Kings          Sunrisers Hyderabad           77
465    Chennai Super Kings             Delhi Daredevils           93
542    Chennai Super Kings              Kings XI Punjab           97
7910   Chennai Super Kings             Rajasthan Royals           64
11341  Chennai Super Kings               Delhi Capitals           80

In [14]:
pd.DataFrame( pd.value_counts( matches['player_of_match'] ).head() )

                player_of_match
CH Gayle                     21
AB de Villiers               20
RG Sharma                    17
MS Dhoni                     17
DA Warner                    17

In [15]:
deliveries = pd.read_csv("dataset/ipl/deliveries.csv")

In [16]:
deliveries.shape

(179078, 21)

In [17]:
deliveries.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [18]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [19]:
# find player who took most number of catches
pd.value_counts(deliveries["dismissal_kind"])

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [20]:
new_df = deliveries[ deliveries["dismissal_kind"] == "caught" ]

In [21]:
new_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,0,0,0,0,0,0,0,CH Gayle,caught,DA Warner
206,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,TM Head,SR Watson,Rashid Khan,0,...,0,0,0,0,0,0,0,TM Head,caught,Yuvraj Singh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178908,11415,1,Mumbai Indians,Chennai Super Kings,13,3,KH Pandya,Ishan Kishan,SN Thakur,0,...,0,0,0,0,0,0,0,KH Pandya,caught,SN Thakur
178921,11415,1,Mumbai Indians,Chennai Super Kings,15,4,Ishan Kishan,KA Pollard,Imran Tahir,0,...,0,0,0,0,0,0,0,Ishan Kishan,caught,SK Raina
178945,11415,1,Mumbai Indians,Chennai Super Kings,19,4,RD Chahar,KA Pollard,DL Chahar,0,...,0,0,0,0,0,0,0,RD Chahar,caught,F du Plessis
179019,11415,2,Chennai Super Kings,Mumbai Indians,11,3,AT Rayudu,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,AT Rayudu,caught,Q de Kock
179067,11415,2,Chennai Super Kings,Mumbai Indians,19,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,DJ Bravo,caught,Q de Kock

In [22]:
pd.value_counts( new_df["fielder"] )

KD Karthik             109
SK Raina                99
MS Dhoni                98
AB de Villiers          93
RV Uthappa              84
                      ...
B Stanlake               1
AC Voges                 1
R Vinay Kumar (sub)      1
NJ Maddinson             1
UBT Chand (sub)          1
Name: fielder, Length: 491, dtype: int64

In [23]:
# which player has taken max wickets

In [25]:
deliveries[ deliveries['dismissal_kind'] == "bowled" ]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
116,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,0,0,0,Yuvraj Singh,bowled,NaN
160,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,4,Mandeep Singh,CH Gayle,Rashid Khan,0,...,0,0,0,0,0,0,0,Mandeep Singh,bowled,NaN
235,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,4,S Aravind,TS Mills,A Nehra,0,...,0,0,0,0,0,0,0,S Aravind,bowled,NaN
274,2,1,Mumbai Indians,Rising Pune Supergiant,5,2,PA Patel,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,PA Patel,bowled,NaN
287,2,1,Mumbai Indians,Rising Pune Supergiant,7,3,RG Sharma,JC Buttler,Imran Tahir,0,...,0,0,0,0,0,0,0,RG Sharma,bowled,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178437,11413,1,Sunrisers Hyderabad,Delhi Capitals,16,5,KS Williamson,V Shankar,I Sharma,0,...,0,0,0,0,0,0,0,KS Williamson,bowled,NaN
178700,11414,1,Delhi Capitals,Chennai Super Kings,18,6,K Paul,RR Pant,DJ Bravo,0,...,0,0,0,0,0,0,0,K Paul,bowled,NaN
178710,11414,1,Delhi Capitals,Chennai Super Kings,20,3,TA Boult,A Mishra,RA Jadeja,0,...,0,0,0,0,0,0,0,TA Boult,bowled,NaN
178811,11414,2,Chennai Super Kings,Delhi Capitals,16,6,SK Raina,AT Rayudu,AR Patel,0,...,0,0,0,0,0,0,0,SK Raina,bowled,NaN
178901,11415,1,Mumbai Indians,Chennai Super Kings,12,2,AS Yadav,Ishan Kishan,Imran Tahir,0,...,0,0,0,0,0,0,0,AS Yadav,bowled,NaN

In [26]:
temp_df = deliveries.dropna()

In [27]:
temp_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,0,0,0,0,0,0,0,CH Gayle,caught,DA Warner
199,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,4,KM Jadhav,TM Head,MC Henriques,0,...,0,0,0,0,1,0,1,KM Jadhav,run out,BCJ Cutting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178977,11415,2,Chennai Super Kings,Mumbai Indians,4,6,F du Plessis,SR Watson,KH Pandya,0,...,0,0,0,0,0,0,0,F du Plessis,stumped,Q de Kock
179019,11415,2,Chennai Super Kings,Mumbai Indians,11,3,AT Rayudu,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,AT Rayudu,caught,Q de Kock
179033,11415,2,Chennai Super Kings,Mumbai Indians,13,5,SR Watson,MS Dhoni,HH Pandya,0,...,0,0,0,0,1,0,1,MS Dhoni,run out,Ishan Kishan
179067,11415,2,Chennai Super Kings,Mumbai Indians,19,2,DJ Bravo,SR Watson,JJ Bumrah,0,...,0,0,0,0,0,0,0,DJ Bravo,caught,Q de Kock
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya

In [39]:
temp_df = deliveries[["bowler", "dismissal_kind"]]

In [40]:
temp_df = temp_df.dropna()

In [41]:
temp_df

             bowler dismissal_kind
11      A Choudhary         caught
64        STR Binny         caught
94        YS Chahal         caught
116        TS Mills         bowled
160     Rashid Khan         bowled
...             ...            ...
179019    JJ Bumrah         caught
179033    HH Pandya        run out
179067    JJ Bumrah         caught
179075   SL Malinga        run out
179077   SL Malinga            lbw

[8834 rows x 2 columns]

In [42]:
pd.value_counts(temp_df["dismissal_kind"])

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [45]:
(temp_df["dismissal_kind"] != "run out") & \
    (temp_df["dismissal_kind"] != "retired hurt") & \
        (temp_df["dismissal_kind"] != "obstructing the field")

11         True
64         True
94         True
116        True
160        True
          ...
179019     True
179033    False
179067     True
179075    False
179077     True
Name: dismissal_kind, Length: 8834, dtype: bool

In [38]:
temp_df = temp_df[ (temp_df["dismissal_kind"] != "run out") & 
        (temp_df["dismissal_kind"] != "retired hurt") & 
        (temp_df["dismissal_kind"] != "obstructing the field") ]
pd.value_counts(temp_df["bowler"])

SL Malinga         170
A Mishra           156
Harbhajan Singh    150
PP Chawla          149
DJ Bravo           147
                  ...
S Vidyut             1
S Rutherford         1
D Short              1
GR Napier            1
AJ Finch             1
Name: bowler, Length: 348, dtype: int64

In [46]:
deliveries.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [ ]:
'''
import numpy as np
>>> x = np.random.randint(10, 1000, 40)
>>> x
array([302,  74,  95, 613, 895, 439, 927, 488, 653, 248,  89, 920, 318,
       628, 520, 428, 546, 401, 374, 643, 249, 766, 702, 661,  24, 170,
       279, 105, 636, 395, 156, 298, 597, 630, 203,  67, 889, 182, 777,
       129])
>>> y = x ** 2
>>> y
array([ 91204,   5476,   9025, 375769, 801025, 192721, 859329, 238144,
       426409,  61504,   7921, 846400, 101124, 394384, 270400, 183184,
       298116, 160801, 139876, 413449,  62001, 586756, 492804, 436921,
          576,  28900,  77841,  11025, 404496, 156025,  24336,  88804,
       356409, 396900,  41209,   4489, 790321,  33124, 603729,  16641])
>>> import matplotlib.pyplot as plt
>>> plt.plot(x,y)
[<matplotlib.lines.Line2D object at 0x11a37c278>]
>>> plt.show()
>>> x = arange(10,1000,40)
Traceback (most recent call last):
  File "<pyshell#8>", line 1, in <module>
    x = arange(10,1000,40)
NameError: name 'arange' is not defined
>>> x = np.arange(10,1000,40)
>>> x
array([ 10,  50,  90, 130, 170, 210, 250, 290, 330, 370, 410, 450, 490,
       530, 570, 610, 650, 690, 730, 770, 810, 850, 890, 930, 970])
>>> y = x ** 2
>>> y
array([   100,   2500,   8100,  16900,  28900,  44100,  62500,  84100,
       108900, 136900, 168100, 202500, 240100, 280900, 324900, 372100,
       422500, 476100, 532900, 592900, 656100, 722500, 792100, 864900,
       940900])
>>> plt.plot(x,y)
[<matplotlib.lines.Line2D object at 0x11daa44a8>]
>>> plt.show()
>>> x = np.random.randint(10, 1000, 40)
>>> x = np.random.randint(5, 200, 40)
>>> x = np.random.randint(10, 1000, 40)
>>> y = np.random.randint(5, 200, 40)
>>> x
array([705, 361, 532, 258,  70, 378, 848, 712, 626, 110, 851, 977, 397,
       882, 556, 224,  88, 171, 517, 779, 899, 215, 152, 551, 701, 921,
       467, 238,  62, 236, 295, 569, 823, 284, 979, 762, 116, 916, 325,
       926])
>>> y
array([127,  38, 136,  31, 114,   5,  53, 120,  49,  41, 153, 115,  11,
       185,  96,  30, 118,  63,  18,  19, 111, 102, 149, 149, 165, 108,
        27,  21, 104,  68, 110, 123,  30, 130, 149, 182,  11,  98, 151,
        64])
>>> plt.plot(x,y)
[<matplotlib.lines.Line2D object at 0x12177eac8>]
>>> plt.show()
>>> plt.plot(x,y,'o')
[<matplotlib.lines.Line2D object at 0x120a000f0>]
>>> plt.show()
'''